* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: left;
  margin: 2rem;
}

#words-container {
  display: flex;
  flex-direction: row;
}

.word-div {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  padding: 5px;
  padding-bottom: 13px;
  width: 21vh;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 4px;
}

.word-tile {
  margin-top: 0.5rem;
  border: 1px solid rgba(235, 235, 235, 0.479);
  text-align: center;
  padding: 5px;
  width: 18vh;
  box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.274);
}

button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  padding: 8px;
}
